# Cordova
platforms/
plugins/
resources/signing
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# Vue, Webpack
*.dist
www/

# Windows
Thumbs.db
Desktop.ini
~$*

# macOS
*.DS_Store

# VIm
*.sw?

# IntelliJ IDEA
*.iml
.idea

# VS Code
.vscode/
